@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

:root {
  --up: 1;
  --card-margin: 12px;
  --card-shadow: rgba(46, 49, 52, .4);
  --color-white: #fff;
  --color-lightgrey: #ccc;
  --color-ui: #999;
  --color-ui-hover: #666;
  --cardWidth: calc(98vw/var(--up));
  --cardheight: calc(36vw/var(--up));
  --carouselWidth: calc(var(--cardWidth) * var(--num));
  --carouselLeftMargin: calc(1vw - var(--cardWidth));
  

}

.carouselwrapper {
    overflow: hidden;
    /* background:var(--color-lightgrey); */
    position:relative;
    padding-top: 7.5rem;
    
}

.carousel{
    width: var(--carouselWidth);
    margin: 0 0 0 var(--carouselLeftMargin);
    display: flex;
    /* height: var(--cardheight); */
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  
  &.prev {
    animation-duration: .6s;
    animation-timing-function:cubic-bezier(0.83, 0, 0.17, 1);
    animation-name: prev;
  }
  
  &.next {
    animation-duration: .6s;
    animation-timing-function:cubic-bezier(0.83, 0, 0.17, 1);
    animation-name: next;
  }
  
  li {
    padding: 2rem;
    text-align: center;
    width: calc(var(--cardWidth) - var(--card-margin) * 2);
    box-sizing: border-box;
  }  
}

.ui{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    display: flex;
    width: calc(100%);
    justify-content: space-between;
    padding: var(--card-margin);
    z-index: 3;
  
    button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      
      background:var(--color-ui);
      width:40px;
      height:40px;
      border-radius:50%;
      color:var(--color-white);
      box-shadow: 0px 2px 5px 1px rgba(0,0,0,.25);
      border: 0;
      transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1);
      
      &:hover {
        background: var(--color-ui-hover);
      }
      
      &:focus{
        outline:none;
        border: 1px solid rgba(255, 255, 255, 1);
      }
  }
}

.card {
    /* background-color:#CCCEFF; */
    box-shadow: 0px 1px 2px 0px var(--card-shadow);
    /* border: 2px solid #c9c9c9; */
    border-radius: 0.8rem;
    margin: var(--card-margin);
    background:var(--color-white);
  
   
  
    p {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 1.4rem;
      margin-bottom: 0;
    }
}

@keyframes next {
  from {
    transform:translateX(0px);
  }
  to {
    transform:translateX(calc(0px + var(--cardWidth)));
  }
}

@keyframes prev {
  from {
    transform:translateX(0px);
  }
  to {
    transform:translateX(calc(0px - var(--cardWidth)));
  }
}
.card img{
  position: relative;
  width: 100%;
  height: 25rem;
  /* filter: grayscale(); */
  filter: hue-rotate(200deg) saturate(0.) brightness(1.1);
  object-fit: fill;
}
.card img:first-child{
  filter:none;
}
.Introduction{
  /* padding: 2rem; */
  position: absolute;
  height: 25rem;
  /* margin: var(--card-margin); */
  width: calc(var(--cardWidth) - var(--card-margin)*6);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Introduction h2 ,p {
  color: white;
  padding: 2rem !important;
  margin: 0rem;
  /* z-index: 1; */
  /* text-align: center; */
  font-weight: 600;
  
}

@media only screen and (min-width : 320px){
.Introduction p{
  padding: 0;
  font-size: 1rem;
  padding: 0.8rem;
  margin: 0;
}
.Introduction h2{
  padding: 0;
  font-size: 2rem;
}
.carousel li{
  padding: 1rem;
}
}
@media only screen and (min-width:768px){
  .carousel li{
    padding: 2rem;
  }
  .Introduction p{
    padding: 0;
    font-size: 1.5rem;
    padding: 1rem;
    /* margin: 0; */
  }
  .Introduction h2{
    font-size: 3rem;
  }
}
@media only screen and (min-width:1440px){
  .card img{
    height: 32rem;
  }
}
@media only screen and (min-width:2560px){
  .card img{
    height: 40rem;
  }
  .Introduction{
    height: 40rem;
  }
  .carousel li{
    padding: 3rem;
  }
  .Introduction p{
    padding: 0;
    font-size: 3rem;
    padding: 3rem;
    /* margin: 0; */
  }
  .Introduction h2{
    font-size: 6rem;
  }
}