
/* Mobile First */

.footer {
  display: flex;
  flex-direction: column;
  background: rgb(0,2,53);
background-color: linear-gradient(111deg, rgba(0,2,53,1) 49%, rgba(0,1,8,1) 100%);
  padding: 50px 10px 10px;
}

.linkInner {
  margin-bottom: 30px;
}

.linkInner a {
  font-size: 12px;
  text-decoration: none;
  color: white;
}

.linkInner li {
  padding: 5px 20px;
  list-style: none;
  color: white;
  line-height: 1;
}

.linkInner li::before{
  content: "\00BB";
}

.linkInner h2 {
  color: white;
  text-align: center;
}

.linkInner img {
  width: 40px;
}

.hostelLinks {
  display: flex;
  justify-content: center;
}

#address , #copyright  {
  color: white;
  text-align: center;
}

.address {
  margin-bottom: 30px;
}

#address img {
  width: 20px;
}

.social-media, .hostelLinks {
  text-align: center;
}

.social-media a, .hostelLinks a {
  padding: 5px;
}

/* .social-media img {
  width: 30px;
} */

h5 {
  font-size: 0.835rem;
}

.my-hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: white !important;
}

@media screen and (min-width: 425px) {
  
  .linkInner li {
    padding-left: 55px;
  }

  .linkInner a {
    font-size: 14px;
  }

  #address , #copyright  {
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .importantLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .linkInner a {
    font-size: 1rem;
  }

  .linkInner h2 {
    font-size: 1.5rem;
  }

  .links {
    padding: 5px;
  }

  .linkInner li {
    padding: 5px;
  }

  .linkInner {
    margin-bottom: 20px;
  }

  #address , #copyright  {
    font-size: 20px;
  }

  .linkInner img {
    width: 50px;
  }

  #address img {
    width: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .importantLinks {
    flex-wrap: nowrap;
  }

  .linkInner h2 {
    font-size: 2rem;
  }

  .linkInner ul{
    padding-left: 15px;
  }

  #address h5 {
    width: 250px;
  }
}

@media screen and (min-width: 1440px) {

  .linkInner li {
    font-size: 22px;
  }

  .linkInner a {
    font-size: 1.2rem;
  }

  .linkInner ul{
    padding-left: 5px;
  }

  #address h5 {
    font-size: 22px;
    width: 280px;
  }
}