
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --base: #000235;
  --base-light: #fff;
  --secondary: #504099;
  --underline: red;
}

* {
  box-sizing: border-box;
}

/* General Styles */

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  position: relative;
  /* overflow-x: hidden; */
}

/* General Styles */
.brush-wrap {
  position: relative;
  display: inline-block;
  padding: 3em;
}

/* applying example animation (indefinite variant) */
/* .brush-wrap.brush-wrap--indefinite:before {
  clip-path: url(#clip-indefinite);
} */

/* clipping/animating object (pseudo element) */
.brush-wrap:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #fd8f21;
  z-index: -1;
  clip-path: url(#clip); /* applying clip animation */
}

.brush-wrap .brush_paint {
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0;
  color: black;
  font-style: italic;
  /* filter: drop-shadow(0px 0px 2px black); */
}
h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

img {
  width: 40px;
}

.linked p {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.linked a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 8px;
}

.common {
  margin: 1em;
}

/* Home Section Styles */

.home {
  /* width: 100%; */
  position: relative;
}

.home img {
  width: 100%;
  opacity: 0.5;
  margin-top: 4em;
}

.home-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  /* width: 80%; */
  text-align: center;
  margin-top: 6em;
}

.home-content h4{
  font-weight: 500;
}

/* About */

.about {
  text-align: center;
  margin-top: 2.5em;
}

.about p{
  margin: 1em;
  line-height: 1.5;
  color: #646262;
  font-size: 1rem;
}

/* Facilities Section */

.facilities, .achievements, .gallery {
  text-align: center;
  margin-top: 2.5em;
}

.facilities-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
  padding: 20px;
}

.facilities-card {
  max-width: 30%;
}

.facilities-card p {
  width: min-content;
  display: flex;
  margin: auto;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 0;
  color: black;
}

.facilities-card img {
  width: 50px;
}
.content-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: flex-start; */
  /* margin-top: 20px; */
}
.text-content p{
  font-size: 0.6rem;
}
.text-content p:last-child{
  padding-top: 0.5rem !important;
}
.text-content p:first-child
{
  padding-bottom: 0.5rem !important;
}
/* .video-content{



} */
.video-content video{
  width: 15rem;
  height: auto;
  border-radius: 1rem;
}




/* Achievement and Gallery Section  */

.achievement-container, .gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  gap: 1em;
}

.achievements-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}

.achievements-card p {
  /* margin: 0; */
  padding-top: 0.6em;
  font-weight: 500;
  width: min-content;
  color: black;
}

.achievements-card img, .gallery-card img {
  width: 120px;
  height: 100px;
  border-radius: 6px;
}


/* Media Queries */


@media only screen and (min-width: 375px) and (max-width: 768px) {
  h1 {
    font-size: 1.7em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.2em;
  }
  .brush-wrap .brush_paint {
    font-size: 1.5em;
  }


  .facilities-container {
    gap: 1.5em;
    padding: 10px 40px;
  }
  
  .facilities-card p {
    font-size: 14px;
  }

  .achievement-container, .gallery-container {
    gap: 1.1em;
  }
  
  .achievements-card {
    max-width: 30%;
    padding-bottom: 1em;
  }
  .video-content video{
    width: 18rem;
    height: auto;
  }
}

@media only screen and (min-width: 768px)  and (max-width:1023px) {

  .common {
    margin: 3em;
  }

  h1{
    font-size: 3em;
  } 
  h2 {
    font-size: 2.5em;
  }
  h3{
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.2em;
  }
  p, a {
    font-size: 1.2em;
  }

  .brush-wrap .brush_paint {
    font-size: 2.5em;
  }

  .home-content {
    width: 90%;
    margin-top: 9em;
  }

  .about, .facilities, .achievements, .gallery {
    margin-bottom: 3.5em;
  }

  .facilities-container {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    justify-content: space-evenly;
  }

  .facilities-card img {
    width: 100px;
  }

  .achievements-card img,   .gallery-card img {
    width: 170px;
    height: 120px;

  }
  .content-wrap {
    flex-direction: row;
    
  }
  .text-content p{
    font-size: 0.8rem;
  }
  .text-content {
    width: 48%;
  }
  
  .video-content {
    width: 48%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  .video-content video{
    width: 20rem;
    height: auto;
  };

}

@media only screen and (min-width: 1024px )  {

  .common {
    margin: 3.5em;
  }

  h1{
    font-size: 3.5em;
  } 
  h2 {
    font-size: 3em;
  }
  h3{
    font-size: 2.5em;
  }
  h4 {
    font-size: 1.5em;
  }
  p {
    font-size: 1.5em;
  }
  .brush-wrap .brush_paint {
    font-size: 3em;
  }

  .home-content {
    width: 90%;
    margin-top: 12em;
  }

  .about p{
    margin: 1.5em;
    line-height: 2;
  }

  .about, .facilities, .achievements, .gallery {
    margin-bottom: 4.5em;
  }

  .facilities-container {
    gap: 1.5em;
    flex-wrap: nowrap;
  }

  .facilities-card {
    width: 16%;
  }

  .facilities-card img {
    width: 80px;
  }

  .facilities-card p {
    width: fit-content;
    font-size: 1em;
    /* padding: 10px 0; */
  }

  .achievements-card img,   .gallery-card img {
    width: 16em;
    height: 12em;

  }
  /* .linked p {
    margin-right: 20px;
  } */
  .content-wrap {
    flex-direction: row;
    
  }
  .text-content p{
    font-size: 0.8rem;
  }
  .text-content {
    width: 48%;
  }
  .video-content{
    width: 48%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  .video-content video{
    width: 25rem;
    height: auto;
  }

}

@media screen and (min-width: 1440px) {

  .common {
    margin: 5em;
  }

  h1{
    font-size: 4.5em;
  } 
  h2 {
    font-size: 3.8em;
  }
  h3{
    font-size: 3em;
  }
  h4 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.8em;
  }
  .brush-wrap .brush_paint {
    font-size: 3.8em;
  }

  .home-content {
    width: 90%;
    margin-top: 15em;
  }

  .about, .facilities, .achievements, .gallery {
    margin-bottom: 5em;
  }

  .facilities-container {
    gap: 3em;
  }

  .facilities-card img {
    width: 9em;
  }

  .facilities-card p {
    font-size: 1em;
  }

  .achievements-card img,   .gallery-card img {
    width: 20em;
    margin-top: 2em;
    margin-bottom: 1em;
    height: 15em;
  }

.achievement-container, .gallery-container {
  justify-content: center;
  gap: 4.5em;
}
  /* .linked p {
    margin-right: 20px;
  } */
   .text-content p{
    font-size: 1rem;
   }
   .video-content video{
    width: 40rem;
    height: auto;
    border-radius: 1rem;
   }

}

